.container {
    width: 100%;
    margin: 0px;
}

.card-container {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}