.container {
    width: 100%;
    margin: auto;
}

.card-container {
    margin: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 20%);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}