@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background: no-repeat url("https://image.shutterstock.com/image-photo/background-farmer-harvesting-oranges-260nw-541494622.jpg");
    /* margin-top: -60px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -30px; */
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

header {
    display: block;
    margin: auto;
    text-align: center;
    width: 400px;
    height: 100px;
    background-color: rgba(251, 199, 56, 0.89);
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    color: rgb(98, 81, 24);
    border-radius: 15px;
    margin-top: 30px;
}

.search {
    margin-left: 10%;
    display: block;
}

.search label {
    font-size: 45px;
}

.search input {
    width: 90%;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
}