body {
    background: no-repeat url("https://image.shutterstock.com/image-photo/background-farmer-harvesting-oranges-260nw-541494622.jpg");
    /* margin-top: -60px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -30px; */
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.search {
    margin-left: 10%;
    display: block;
}

.search label {
    font-size: 45px;
    background-color: white;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
}

.search input {
    width: 90%;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
}